<web-app>
    <servlet>
        <servlet-name>ViewBooksServlet</servlet-name>
        <servlet-class>com.library.servlet.ViewBooksServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewBooksServlet</servlet-name>
        <url-pattern>/viewBooks</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewAuthorsServlet</servlet-name>
        <servlet-class>com.library.servlet.ViewAuthorsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewAuthorsServlet</servlet-name>
        <url-pattern>/viewAuthors</url-pattern>
    </servlet-mapping>
</web-app>